#fileInput{
    color: white;
}

#processButton{
    margin-top: 20px;
    border:none;
    background-color: rgb(126, 58, 242);
    padding: 10px;
    border-radius: 20px;
    color: white;
    font: bold;
}

.cont {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 50px;
}

.filters {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(234, 234, 234);
}

.filters label, .filters select {
    margin: 10px;
}

#outputContainer, #trackListContainer {
    margin-top: 20px;
    width: 100%;
}

.ListContainer{
background-color: rgb(234, 234, 234);
}

.scroll-container {
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.header {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.header div {
    flex: 1;
    text-align: center;
}

#output, #trackList {
    max-height: 300px;
    overflow-y: auto;
}

#fileList {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    max-height: 200px;
    overflow-y: auto;
}

.artist-summary, .track-summary {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.artist-summary div, .track-summary div {
    flex: 1;
    text-align: center;
}

#summary{
    display: flex;
    justify-content: space-around;
    
}

#summary div{
    display: flex;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: gainsboro;
    width: 20%;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    font-weight: bolder;
}

.teste {
    display: grid;
}



@media (min-width: 768px) {
    .filters {
        flex-direction: row;
        justify-content: space-around;
    }

    .filters label, .filters select {
        margin: 10px;
    }
}

@media (max-width: 767px) {
    .filters {
        flex-direction: column;
        align-items: center;
    }

    .filters label, .filters select {
        margin: 5px;
    }

    .header div, .artist-summary div, .track-summary div {
        text-align: left;
        padding: 5px;
    }
}
